@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

$color-1: #13005A;
$color-2: #03C988;
$color-3: #00FFAB;
$color-4: #befff2;
$color-5: #06FFAD;
$color-6: #09ffda;
$text-color: #00FFAB;
$text-font: 'Saira', sans-serif;


/* Estilos de la barra de navegación */
.navbar {
  a {
    font-size: 1.30em;
    color: white;
    margin-right: 2em;
    font-family: 'roboto', sans-serif;
  }
  .nav-link.active::after {
    content: '';
    display: block;
    width: calc(100% - 1px);
    height: 3px;
    background-color: $color-2;
    margin-top: 5px;
    box-shadow: 0 1px 10px 1px $color-3;
  }
}

/* Estilos de la imagen */
.image-container {
  position: absolute;
  max-width: 80%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  &:hover img {
    transform: scale(0.9);
  }
}

/* Estilos del cuerpo de la página */
body {
  background-color: $color-1;
}

/* Fuentes */
@font-face {
  font-family: 'roboto';
  src: url(/font/Roboto-Regular.ttf);
}
.texto {
  font-family: $text-font;
  color: $text-color;
  font-size: 3.5vw;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .15em;
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  word-wrap: break-word;
  animation: typing 4s steps(30, end) forwards, blink-caret .75s step-end infinite;
  border-right: .15em solid $text-color;
  
  @media (min-width: 768px) {
    font-size: 2.5vw;
    text-align: left;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border-right: none;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: $text-color;
  }
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.articles p{
  color: white;
} 
.articles h2{
  color: white;
} 
.imagenA1{
  max-width: 30%;
  height: auto;
  display: block;
  margin: auto;
}
.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.imagen-derecha {
  position: absolute;
  top: 10%;
  right: 10%;
  max-width: 36%;
}
ul {
  list-style-type: decimal;
  text-align: left;
  margin-right: 0;
  padding-left: 5%;
  padding-top: 2%;
  li {
    margin: 0;
    padding: 1.3%;
    color: white;
    font-size: 1.9vh;
  }
}
@media only screen and (max-width: 768px) {
  .imagen-derecha {
    position: relative;
    max-width: 50%;
    margin-top: 10%;
    margin-left: 36%;
    text-align: center;
  }
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
}

thead tr {
  background-color: #273036;
  color: white;
}

th {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr {
  background-color: #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
}
.navbar-toggler {
  background-color: white;
}